$cssTransition: 'css-transition';
$cssTransitionEnter: #{$cssTransition}-enter;
$cssTransitionEnterActive: #{$cssTransition}-enter-active;
$cssTransitionEnterDone: #{$cssTransition}-enter-done;
$cssTransitionExit: #{$cssTransition}-exit;
$cssTransitionExitActive: #{$cssTransition}-exit-active;
$cssTransitionExitDone: #{$cssTransition}-exit-done;
