.kicl--components--animation--style--fade {
  --kicl--components--animation--transition-property: opacity;
  --kicl--components--animation--style--fade--opacity: 1;

  opacity: var(--kicl--components--animation--style--fade--opacity);

  &.kicl--components--animation--appear:not(
      .kicl--components--animation--appear-active
    ),
  &.kicl--components--animation--enter:not(
      .kicl--components--animation--enter-active
    ) {
    --kicl--components--animation--style--fade--opacity: 0;
  }

  &.kicl--components--animation--exit-active,
  &.kicl--components--animation--exit-done {
    --kicl--components--animation--style--fade--opacity: 0;
  }
}
