.kicl--components--animation--style--slide-from-top {
  --kicl--components--animation--transition-property: opacity, transform;
  --kicl--components--animation--style--slide-from-top--transform--opacity: 1;
  --kicl--components--animation--style--slide-from-top--transform--translate-x: 0;
  --kicl--components--animation--style--slide-from-top--transform--translate-y: 0;

  opacity: var(
    --kicl--components--animation--style--slide-from-top--transform--opacity
  );
  transform: translate3d(
    var(
      --kicl--components--animation--style--slide-from-top--transform--translate-x
    ),
    var(
      --kicl--components--animation--style--slide-from-top--transform--translate-y
    ),
    0
  );

  &.kicl--components--animation--appear:not(
    .kicl--components--animation--appear-active
  ),
    &.kicl--components--animation--enter:not(
    .kicl--components--animation--enter-active
  ) {
    --kicl--components--animation--style--slide-from-top--transform--opacity: 0;
    --kicl--components--animation--style--slide-from-top--transform--translate-y: calc(
      -1 * min(var(--kicl-size-2x), 10%)
    );
  }

  &.kicl--components--animation--exit-active,
  &.kicl--components--animation--exit-done {
    --kicl--components--animation--style--slide-from-top--transform--opacity: 0;
    --kicl--components--animation--style--slide-from-top--transform--translate-y: calc(
      -1 * min(var(--kicl-size-2x), 10%)
    );
  }
}
