:root {
  --kicl--widgets--slider--thumbnail--button--color: var(
    --kicl--widgets--slider--color
  );
  --kicl--widgets--slider--thumbnail--button--transition-duration: var(
    --kicl-transition-duration
  );
  --kicl--widgets--slider--thumbnail--button--transition-property: filter;
  --kicl--widgets--slider--thumbnail--button--transition-timing-function: var(
    --kicl-ease-out
  );
  --kicl--widgets--slider--thumbnail--button--current--filter: brightness(0);
}

.kicl--theme--dark {
  --kicl--widgets--slider--thumbnail--button--current--filter: brightness(10);
}

.kicl--theme--light {
  --kicl--widgets--slider--thumbnail--button--current--filter: brightness(0);
}

.kicl--widgets--slider--thumbnail {
  padding-block: var(--kicl-gutter-wider);

  &:not([data-keen-slider-disabled]) {
    inline-size: max-content;
  }

  button {
    color: var(--kicl--widgets--slider--thumbnail--button--color);
    padding: var(--kicl-gutter-narrower);
    transition-duration: var(
      --kicl--widgets--slider--thumbnail--button--transition-duration
    );
    transition-property: var(
      --kicl--widgets--slider--thumbnail--button--transition-property
    );
    transition-timing-function: var(
      --kicl--widgets--slider--thumbnail--button--transition-timing-function
    );
    will-change: var(
      --kicl--widgets--slider--thumbnail--button--transition-property
    );

    &[aria-disabled='true'] {
      filter: var(--kicl--widgets--slider--thumbnail--button--current--filter);
    }
  }
}
