@import '../../../Component/Logo/Style/mixins';
@import './value';

$appear: #{get($css-transition, 'appear.default')};
$appear-active: #{get($css-transition, 'appear.active')};
$enter: #{get($css-transition, 'enter.default')};
$enter-active: #{get($css-transition, 'enter.active')};
$exit: #{get($css-transition, 'exit.default')};
$exit-active: #{get($css-transition, 'exit.active')};
$exit-done: #{get($css-transition, 'exit.active')};

$coming-soon-color: #{get($white, 'default')};

$global-header: get($component-global-header, 'default');

$logo: get($component-logo, 'default');
$logo-size: get($font, 'font-size.larger');

$webGL: get($component-webGL, 'default');

$gutter: #{get($grid, 'gutter')};
$space: #{get($grid, 'space')};

$height: 60vw;
$width: 80vw;
$height-landscape: 60vh;
$width-landscape: 80vh;

[data-routes='home'] {
  @include set-logo-size($logo-size);

  background-image: url('../../../../asset/image/big.sur.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: $width $height;
  color: $red;
  display: grid;
  grid-template-areas:
    '. . .'
    '. div .'
    '. . .';
  text-align: center;
  grid-template-columns: auto calc(#{$width} + #{$logo-size}) auto;
  grid-template-rows: auto calc(#{$height} + #{$logo-size}) auto;

  @include landscape() {
    background-size: $width-landscape $height-landscape;
    grid-template-columns: auto calc(#{$width-landscape} + #{$logo-size}) auto;
    grid-template-rows: auto calc(#{$height-landscape} + #{$logo-size}) auto;
  }

  [data-component=#{$logo}],
  h2,
  article {
    justify-self: center;
  }

  [data-component=#{$webGL}] {
    background-color: get($black, "pure");
    height: $height;
    left: 0;
    position: absolute;
    top: 0;
    width: $width;
    z-index: 0;

    @include landscape() {
      height: $height-landscape;
      widows: $width-landscape;
    }
  }

  [data-component=#{$logo}] {
    grid-area: logo;
  }

  article {
    color: get($white, "default");
    grid-area: article;
  }

  div:last-child {
    display: grid;
    grid-area: div;
    grid-gap: $space;
    grid-template-areas:
      '. logo .'
      '. heading .'
      '. . .'
      '. article .'
      '. . .';
    grid-template-columns: $gutter minmax(min-content, max-content) $gutter;
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) auto minmax(min-content, max-content) $gutter;
    position: relative;
    z-index: 1;
  }

  h2 {
    grid-area: heading;
  }

  p {
    + p {
      padding-top: $space;
    }

    &:first-child {
      font-size: get($font, "font-size.medium");
    }
  }
}

[data-entered-routes='home'] {
  [data-component='#{$global-header}'].#{$enter}.#{$enter-active} {
    transition-delay: 2500ms;
  }
}

[data-exited-routes='home'] {
  [data-routes] {
    &.#{$appear}.#{$appear-active},
    &.#{$enter}.#{$enter-active},
    &.#{$exit}.#{$exit-active} {
      transition-delay: 2500ms;
    }
  }
}
