[data-routes='home'] {
  $padding: get($grid, 'default');
  $padding-top: get($grid, 'gutter');
  $grid-gap: get($grid, 'narrow');

  color: get($white, 'default');
  display: grid;
  grid-gap: $grid-gap;
  grid-template-areas: 'logo . navigation' 'slogan slogan slogan' 'show show show';
  grid-template-columns: min-content auto min-content;
  grid-template-rows: min-content auto min-content;
  overflow: hidden;
  padding: $padding-top $padding 0;

  > * {
    position: relative;
    z-index: 1;
  }

  a {
    color: get($white, 'default');
  }

  [data-component=#{get($component-logo, 'default')}] {
    grid-area: logo;
  }

  [data-component=#{get($component-navigation, 'default')}] {
    font-weight: get($font, 'font-weight.bolder');
    grid-area: navigation;
    grid-gap: get($grid, 'narrower');
    grid-template-columns: auto;
    grid-template-rows: auto;
    line-height: 1;

    a {
      justify-self: left;
      text-align: unset;
    }
  }

  p {
    align-self: center;
    grid-area: slogan;

    @include mobile() {
      align-self: end;
    }
  }

  > section {
    grid-area: show;
    height: 100vh;
    max-height: 30vh;
    position: relative;
    z-index: 0;

    img {
      filter: brightness(0.4);
      width: 70vw;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 0;

      @include mobile() {
        bottom: 0;
        top: unset;
        transform: translate3d(-50%, 0, 0);
      }
    }
  }
}
