$className: get($css-transition-style, 'slide-down');
$appear: get($css-transition, 'appear.default');
$appearActive: get($css-transition, 'appear.active');
$enter: get($css-transition, 'enter.default');
$enterActive: get($css-transition, 'enter.active');
$exit: get($css-transition, 'exit.default');
$exitActive: get($css-transition, 'exit.active');
$exitDone: get($css-transition, 'exit.done');

.#{$className} {
  transition-property: transform;
  will-change: transform;

  &.#{$appear}:not(.#{$appearActive}),
  &.#{$enter}:not(.#{$enterActive}),
  &.#{$enter}:not(.#{$enterActive}),
  &.#{$exitActive},
  &.#{$exitDone} {
    transform: translate3d(0, -100%, 0);
  }
}
