.kicl--views--navigation--mobile {
  --kicl--components--dialog--block-size--starting-style: 0px;
  --kicl--components--dialog--padding-block: var(--kicl-gutter-widest);
  --kicl--components--dialog--padding-inline: var(--kicl-gutter-wide);
  --kicl--components--dialog--translate--starting-style: 0;
}
