[data-routes='contact'] {
  $css-transition: get($component-css-transition, 'default');
  $appear: get($component-css-transition, 'appear.default');
  $appear-active: get($component-css-transition, 'appear.active');
  $enter: get($component-css-transition, 'enter.default');
  $enter-active: get($component-css-transition, 'enter.active');
  $exit: get($component-css-transition, 'exit.default');
  $exit-active: get($component-css-transition, 'exit.active');
  $exit-done: get($component-css-transition, 'exit.active');

  $background-color: get($black, 'light');
  $text-color: get($white, 'default');
  $space: get($grid, 'narrow');
  $gutter: get($grid, 'default');
  $gap: get($grid, 'gutter');
  $form-element-transition-duration: get($duration, 'slowest');
  $form-element-transition-delay: get($duration, 'faster');

  background-color: $background-color;
  color: $text-color;

  form {
    display: grid;
    grid-template-areas: 'h1 message message message' 'p message message message' 'name message message message' 'email message message message' '. message message message' '. submit submit reset';
    grid-template-columns: 400px repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content) auto $gutter;
    min-height: 100vh;
    padding: get($grid, 'wide') + $gutter 0 0 $gutter;

    > * {
      &.#{$css-transition} {
        transition-duration: $form-element-transition-duration;
      }
    }

    @include tablet() {
      grid-template-areas: '. h1 h1 .' '. p p .' '. name name .' '. email email .' '. message message .' 'submit submit reset reset';
      grid-template-columns: $gap repeat(2, 1fr) $gap;
      grid-template-rows: repeat(4, min-content) auto $gutter;
      padding-left: 0;
      padding-right: 0;
    }
  }

  h1,
  p,
  [for=name],
  [for=email] {
    margin-right: $gutter;

    @include tablet() {
      margin-right: 0;
    }
  }

  [for=name],
  [for=email] {
    @include tablet() {
      margin-top: $space;
    }
  }

  [type=submit],
  [type=reset] {
    @include shadow-top();

    bottom: 0;
    position: sticky;
  }

  button {
    &.#{$css-transition} {
      transition-delay: $form-element-transition-delay;
    }
  }

  input {
    width: 100%;
  }

  textarea {
    resize: none;
  }

  h1 {
    font-size: get($font, 'font-size.largest');
    font-weight: get($font, 'font-weight.bolder');
    grid-area: h1;
    line-height: get($font, 'line-height.narrow');

    @include tablet() {
      font-size: get($font, 'font-size.medium');
    }
  }

  p {
    font-size: get($font, 'font-size.small');
    grid-area: p;
    margin-bottom: $space;
    margin-top: $space;
  }

  [for=name] {
    grid-area: name;
  }

  [for=email] {
    grid-area: email;
    margin-top: $gap;

    @include mobile() {
      margin-top: 0;
    }
  }

  [for=message] {
    border-left: 1px solid get($white, 'default');
    grid-area: message;

    @include tablet() {
      border: 1px solid get($white, 'default');
      margin-bottom: $gap;
      margin-top: $gap;
      min-height: 200px;
    }
  }

  [type=submit] {
    background-color: $green;
    color: get($black, 'default');
    grid-area: submit;
  }

  [type=reset] {
    background-color: get($grey, 'darkest');
    color: $red;
    grid-area: reset;
  }
}
