.kicl--animation--style--fade {
  --kicl--animation--transition-property: opacity;
  --kicl--animation--style--fade--opacity: 1;

  opacity: var(--kicl--animation--style--fade--opacity);

  &.kicl--animation--enter:not(.kicl--animation--enter-active) {
    --kicl--animation--style--fade--opacity: 0;
  }

  &.kicl--animation--exit-active {
    --kicl--animation--style--fade--opacity: 0;
  }
}
