.kicl--animation--style--zoom-in {
  --kicl--animation--transition-property: opacity, transform;
  --kicl--animation--style--zoom-in--transform--translate-x: 0;
  --kicl--animation--style--zoom-in--transform--translate-y: 0;
  --kicl--animation--style--zoom-in--transform--scale: 1;
  --kicl--animation--style--zoom-in--opacity: 1;

  opacity: var(--kicl--animation--style--zoom-in--opacity);
  transform:
    translate3d(
      var(--kicl--animation--style--zoom-in--transform--translate-x),
      var(--kicl--animation--style--zoom-in--transform--translate-y),
      0
    )
    scale(var(--kicl--animation--style--zoom-in--transform--scale));
  transform-origin: center;

  &.kicl--animation--enter:not(.kicl--animation--enter-active) {
    --kicl--animation--style--zoom-in--opacity: 0;
    --kicl--animation--style--zoom-in--transform--scale: 0.8;
  }

  &.kicl--animation--exit-active {
    --kicl--animation--style--zoom-in--opacity: 0;
    --kicl--animation--style--zoom-in--transform--scale: 0.8;
  }
}
