:root {
  --kicl--animation--transition-delay: 0s;
  --kicl--animation--transition-duration: var(--kicl-duration-slowest);
  --kicl--animation--transition-property: none;
  --kicl--animation--transition-timing-function: var(--kicl-ease-quint-in-out);
}

.kicl--animation {
  pointer-events: none;

  &.kicl--animation--appear-active,
  &.kicl--animation--enter-active,
  &.kicl--animation--exit-active {
    transition-delay: var(--kicl--animation--transition-delay);
    transition-duration: var(--kicl--animation--transition-duration);
    transition-property: var(--kicl--animation--transition-property);
    transition-timing-function:
      var(
        --kicl--animation--transition-timing-function
      );
    will-change: var(--kicl--animation--transition-property);
  }

  &.kicl--animation--exit-active {
    --kicl--animation--transition-timing-function: var(--kicl-ease-expo-in);
  }
}
