.kicl--animation--style--slide-from-left {
  --kicl--animation--transition-property: opacity, transform;
  --kicl--animation--style--slide-from-left--opacity: 1;
  --kicl--animation--style--slide-from-left--transform--translate-x: 0;
  --kicl--animation--style--slide-from-left--transform--translate-y: 0;

  opacity: var(--kicl--animation--style--slide-from-left--opacity);
  transform:
    translate3d(
      var(--kicl--animation--style--slide-from-left--transform--translate-x),
      var(--kicl--animation--style--slide-from-left--transform--translate-y),
      0
    );

  &.kicl--animation--appear:not(.kicl--animation--appear-active),
  &.kicl--animation--enter:not(.kicl--animation--enter-active) {
    --kicl--animation--style--slide-from-left--opacity: 0;
    --kicl--animation--style--slide-from-left--transform--translate-x: -100%;
  }

  &.kicl--animation--exit-active {
    --kicl--animation--style--slide-from-left--opacity: 0;
    --kicl--animation--style--slide-from-left--transform--translate-x: -100%;
  }
}
