$name: get($kicl, 'name');

@font-face {
  font-family: $name;
  font-style: normal;
  font-weight: normal;
  src: url('#{$name}.eot');
  src:
    url('#{$name}.eot') format('embedded-opentype'),
    url('#{$name}.ttf') format('truetype'),
    url('#{$name}.woff') format('woff'),
    url('#{$name}.svg#kicl') format('svg');
}

@value fontName: #{$name};
