.#{get($logo, 'default')} {
  font-size: get($grid, 'narrow');
  height: get($grid, 'narrow');
  overflow: hidden;
  position: relative;

  &::before {
    content: get($kicl, 'content.default');
    display: block;
    font-family: get($kicl, 'name');
    font-size: inherit;
    left: 0;
    line-height: 1;
    position: absolute;
    text-indent: 0;
    top: 0;
    transition-duration: get($duration, 'fast');
    transition-property: color;
    transition-timing-function: get($ease, 'default.in');
    z-index: 1;
  }

  a {
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .#{get($logo, 'square')} {
    width: get($grid, 'narrow');
  }

  @include mobile() {
    width: get($grid, 'narrow');
  }
}
