:root {
  --kicl--components--heading--padding-block-end: 0;
}

.kicl--components--heading {
  padding-block-end: var(--kicl--components--heading--padding-block-end);

  &:not(&--is-dense):has(+ *) {
    --kicl--components--heading--padding-block-end: var(--kicl-gutter);
  }
}
