.kicl--widgets--global-header--navigation--mobile {
  --kicl--components--dialog--padding-block: var(--kicl-gutter-extreme);
  --kicl--components--dialog--padding-inline: var(--kicl-gutter-widest);
  --kicl--components--dialog--block-size--starting-style: 0px;
  --kicl--components--animation--property--slide-from-top--distance: 100%;

  .kicl--components--dialog--close {
    --kicl--components--dialog--padding-block: var(--kicl-gutter-wider);
  }

  &--toggle--is-overlaid {
    inset-block-start: calc(
      var(--kicl--widgets--global-header--top) +
      (var(--kicl--widgets--global-header--block-size) - 1em) / 2
    );
    inset-inline-end: var(--kicl--widgets--global-header--padding-inline);
    z-index: 1;
  }
}
