.kicl--components--date-picker {
  &__trigger {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    gap: var(--kicl-gutter-narrower);
    inline-size: 100%;
    justify-content: flex-start;
    text-align: start;

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__icon {
    block-size: 1em;
    flex-shrink: 0;
    inline-size: 1em;
  }
}
