.kicl--views--experiments--music-visualiser__home__banner__words {
  max-inline-size: 40rem;
  padding-inline: var(--kicl--views--experiments--music-visualiser--inset);
  padding-block-start: var(--kicl--widgets--global-header--block-size);
}
