.kicl--components--button {
  --kicl--components--button--padding-block: var(--kicl-gutter);
  --kicl--components--button--padding-inline: var(--kicl-gutter);

  &:not(&--unstyled, &--look-like-hyperlink) {
    padding-block: var(--kicl--components--button--padding-block);
    padding-inline: var(--kicl--components--button--padding-inline);

    &.kicl--components--button--size {
      &--large {
        --kicl--components--button--padding-block: var(--kicl-gutter);
        --kicl--components--button--padding-inline: var(--kicl-gutter);

        @include tablet {
          --kicl--components--button--padding-block: var(--kicl-gutter-wide);
          --kicl--components--button--padding-inline: var(--kicl-gutter-wide);
        }
      }

      &--small {
        --kicl--components--button--padding-block: var(--kicl-gutter-narrow);
        --kicl--components--button--padding-inline: var(--kicl-gutter-narrow);

        font-size: 0.7em;

        @include tablet {
          --kicl--components--button--padding-block: var(--kicl-gutter);
          --kicl--components--button--padding-inline: var(--kicl-gutter);
        }
      }
    }
  }
}
