:root {
  --kicl--views--home--block-size: 100dvh;
}

.kicl--views--home {
  block-size: var(--kicl--views--home--block-size);
  overflow: hidden;

  @at-root .kicl--view:has(&) {
    padding-block-end: 0;
    padding-block-start: 0;
    padding-inline-end: 0;
    padding-inline-start: 0;
  }
}
