.kicl--views--experiments--tree-of-life__banner {
  --kicl-layout--block-size: inherit;
  --kicl--tree-of-life--plate: url('/assets/static/banner.light.webp');
  --kicl--tree-of-life--plate-blend: multiply;
  --kicl--tree-of-life--plate-exposure: 1.5;

  @at-root .kicl--theme--dark & {
    --kicl--tree-of-life--plate: url('/assets/static/banner.dark.webp');
    --kicl--tree-of-life--plate-blend: screen;
    --kicl--tree-of-life--plate-exposure: 0.5;
  }

  background-image: var(--kicl--tree-of-life--plate);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-inline: calc(var(--kicl--tree-of-life--inset) * -1);
  min-block-size: calc(
    100dvb - var(--kicl--widgets--global-header--block-size)
  );
  padding-block-start: var(--kicl-gutter-widest);
  padding-inline: var(--kicl--tree-of-life--inset);
  position: relative;

  &::before {
    backdrop-filter: blur(var(--kicl-size))
      brightness(var(--kicl--tree-of-life--plate-exposure)) saturate(60%);
    background-image: radial-gradient(
      ellipse at 50% 45%,
      color-mix(in oklab, var(--kicl-body-background-color) 0%, transparent) 30%,
      color-mix(in oklab, var(--kicl-body-background-color) 55%, transparent)
      74%,
      var(--kicl-body-background-color) 100%
    );
    content: '';
    inset: 0;
    position: absolute;
  }

  &__title {
    background-blend-mode: var(--kicl--tree-of-life--plate-blend), normal;
    background-image:
      var(--kicl--tree-of-life--plate),
      linear-gradient(
        120deg,
        color-mix(
          in oklab,
          var(--kicl--tree-of-life--green) 70%,
          var(--kicl-color-white-pure)
        ),
        var(--kicl--tree-of-life--green)
      );
    background-position:
      66% 44%,
      0% 0%;
    background-repeat: no-repeat, repeat;
    background-size:
      400% auto,
      200% 200%;
    animation-name: kicl--tree-of-life--drift;
    animation-duration: var(--kicl-transition-duration-6s);
    animation-timing-function: var(--kicl-ease-sharp-in-out);
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @supports (background-clip: text) {
      background-clip: text;
      color: transparent;
    }

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}

@keyframes kicl--tree-of-life--drift {
  from {
    background-position:
      66% 44%,
      0% 0%;
  }

  to {
    background-position:
      82% 58%,
      100% 100%;
  }
}
