.#{get($transition, 'default')} {
  $enter: get($css-transition, 'enter.default');
  $exit: get($css-transition, 'exit.default');

  position: relative;

  > .#{$enter},
  > .#{$exit} {
    position: absolute;
  }

  > .#{$enter} {
    z-index: 200;
  }

  > .#{$exit} {
    z-index: 100;

    &.#{get($css-transition-slide-from-left, 'default')},
    &.#{get($css-transition-slide-from-right, 'default')} {
      z-index: 300;
    }
  }
}
