.#{$transition} {
  position: relative;

  > [class*='#{$css-transition}-'] {
    position: absolute;

    &.#{$css-transition-enter} {
      z-index: 200;
    }

    &.#{$css-transition-exit} {
      z-index: 100;
    }
  }
}

:export {
  childclassname: #{$transitionChild};
  classname: #{$transition};
}
