.#{get($transition, 'default')} {
  position: relative;

  > [class*='#{get($css-transition, 'default')}-'] {
    position: absolute;

    &.#{get($css-transition, 'enter.default')} {
      z-index: 200;
    }

    &.#{get($css-transition, 'exit.default')} {
      z-index: 100;
    }
  }
}
