.kicl--views--experiments--tree-of-life--taxon-visual {
  &__taxon-plate {
    --kicl--components--image--aspect-ratio: 1;
    --kicl--components--image--border-radius: var(--kicl-size-half);
  }

  &__taxon-plate-skeleton {
    --kicl--components--skeleton--aspect-ratio: 1;
  }
}
