$default: get($view-component-slogan, 'default');

[data-view-component='#{$default}'] {
  font-family: get($font, 'font-family.special');
  font-weight: get($font, 'font-weight.boldest');
  font-size: 10vmin;
  line-height: get($font, 'line-height.narrower');
  text-align: center;
  white-space: pre-wrap;
  word-break: break-word;
}
