.kicl--components--select {
  --kicl--components--select--background-color: var(--kicl-surface-color);
  --kicl--components--select--border-color: var(--kicl-color-grey-darker);
  --kicl--components--select--border-radius: var(--kicl-gutter-narrower);
  --kicl--components--select--border-width: var(--kicl-size-1px);
  --kicl--components--select--color: var(--kicl-body-color);
  --kicl--components--select--content-max-block-size: 16rem;
  --kicl--components--select--padding-block: var(--kicl-gutter-narrowest);
  --kicl--components--select--padding-inline: var(--kicl-gutter-narrow);

  inline-size: 100%;
  max-inline-size: 100%;
  min-inline-size: 0;

  @at-root .kicl--theme--dark & {
    --kicl--components--select--border-color: var(--kicl-color-grey);
  }

  @at-root .kicl--theme--light & {
    --kicl--components--select--border-color: var(--kicl-color-grey-darker);
  }
}
