@import '@/Core/Styles/_breakpoint';

// Configuration
$mqResponsive: true;
$mqBreakpoints: (
  mobile: $mobile,
  tablet: $tablet,
  desktop: $desktop,
  wide: $wide,
);

@import '^/node_modules/sass-mq';

@mixin orientation($orientation, $content: null, $props...) {
  @include mq($and: '(orientation: #{$orientation})', $props...) {
    @if $content {
      @each $name, $value in $content {
        #{$name}: $value;
      }
    } @else {
      @content;
    }
  }
}

@mixin query($landscape: null, $portrait: null, $props...) {
  @include orientation(
    $content: $landscape,
    $orientation: 'landscape',
    $props...
  );
  @include orientation(
    $content: $portrait,
    $orientation: 'portrait',
    $props...
  );

  @include mq($props...) {
    @content;
  }
}

@mixin landscape() {
  @include orientation($orientation: 'landscape') {
    @content;
  }
}

@mixin portrait() {
  @include orientation($orientation: 'portrait') {
    @content;
  }
}

@mixin narrow($props...) {
  @include query($until: mobile, $props...) {
    @content;
  }
}

@mixin mobile($props...) {
  @include query($until: tablet, $props...) {
    @content;
  }
}

@mixin tablet($props...) {
  @include query($until: desktop, $props...) {
    @content;
  }
}

@mixin desktop($props...) {
  @include query($until: wide, $props...) {
    @content;
  }
}

@mixin widescreen($props...) {
  @include query($from: wide, $props...) {
    @content;
  }
}
