:root {
  --kicl-breakpoint-narrow: #{$narrow};
  --kicl-breakpoint-mobile: #{$mobile};
  --kicl-breakpoint-tablet: #{$tablet};
  --kicl-breakpoint-desktop: #{$desktop};
  --kicl-breakpoint-wide: #{$wide};
  --kicl-breakpoint-wider: #{$wider};
}
