:root {
  // font-family
  --kicl-font-family: 'ariana-pro', #{$base-font};
  --kicl-font-family-bold: 'acumin-pro-wide', #{$base-font};
  --kicl-font-family-special: 'gilbert-color', #{$base-font};
  --kicl-font-size: #{$base-font-size};

  // font-size
  --kicl-font-size-smallest: 0.4rem;
  --kicl-font-size-smaller: 0.6rem;
  --kicl-font-size-small: 0.8rem;
  --kicl-font-size-medium: 1.5rem;
  --kicl-font-size-large: 2rem;
  --kicl-font-size-larger: 3rem;
  --kicl-font-size-largest: 4rem;
  --kicl-font-size-extreme: 10rem;

  // font-weight
  --kicl-font-weight-lightest: 100;
  --kicl-font-weight-lighter: 200;
  --kicl-font-weight-light: 300;
  --kicl-font-weight: 400;
  --kicl-font-weight-bold: 500;
  --kicl-font-weight-bolder: 700;
  --kicl-font-weight-boldest: 900;

  // letter-spacing
  --kicl-letter-spacing: 0.08rem;

  // line-height
  --kicl-line-height-dense: 0.7;
  --kicl-line-height-narrowest: 0.8;
  --kicl-line-height-narrower: 1;
  --kicl-line-height-narrow: 1.2;
  --kicl-line-height: 1.5;
  --kicl-line-height-wide: 1.8;
}

@include make-variable-class('font-family');
@include make-variable-class('font-family', 'bold');
@include make-variable-class('font-family', 'special');
@include make-variable-class('font-size', 'extreme');
@include make-variable-class('font-size', 'largest');
@include make-variable-class('font-size', 'larger');
@include make-variable-class('font-size', 'large');
@include make-variable-class('font-size');
@include make-variable-class('font-size', 'medium');
@include make-variable-class('font-size', 'small');
@include make-variable-class('font-size', 'smaller');
@include make-variable-class('font-size', 'smallest');
@include make-variable-class('font-weight', 'lightest');
@include make-variable-class('font-weight', 'lighter');
@include make-variable-class('font-weight', 'light');
@include make-variable-class('font-weight');
@include make-variable-class('font-weight', 'bold');
@include make-variable-class('font-weight', 'bolder');
@include make-variable-class('font-weight', 'boldest');
@include make-variable-class('letter-spacing');
@include make-variable-class('line-height', 'narrowest');
@include make-variable-class('line-height', 'narrower');
@include make-variable-class('line-height', 'narrow');
@include make-variable-class('line-height');
@include make-variable-class('line-height', 'wide');
