:root {
  --kicl-gutter: #{$gutter};
  --kicl-gutter-narrow: calc(var(--kicl-gutter) * 0.5);
  --kicl-gutter-narrower: calc(var(--kicl-gutter-narrow) * 0.5);
  --kicl-gutter-narrowest: calc(var(--kicl-gutter-narrower) * 0.5);
  --kicl-gutter-wide: calc(var(--kicl-gutter) * 2);
  --kicl-gutter-wider: calc(var(--kicl-gutter-wide) * 1.5);
  --kicl-gutter-widest: calc(var(--kicl-gutter-wider) * 1.2);

  @include tablet {
    --kicl-gutter: #{calc($gutter / 2)};
  }
}
