:root {
  --kicl-size: #{$size};
  --kicl-size-hair: 0.2px;
  --kicl-size-1px: 1px;
  --kicl-size-2px: 2px;
  --kicl-size-3px: 3px;
  --kicl-size-half: calc(var(--kicl-size) * 0.5);
  --kicl-size-2x: calc(var(--kicl-size) * 2);
  --kicl-size-3x: calc(var(--kicl-size) * 3);
  --kicl-size-4x: calc(var(--kicl-size) * 4);
  --kicl-size-5x: calc(var(--kicl-size) * 5);
  --kicl-size-6x: calc(var(--kicl-size) * 6);
  --kicl-size-7x: calc(var(--kicl-size) * 7);
  --kicl-size-8x: calc(var(--kicl-size) * 8);
  --kicl-size-9x: calc(var(--kicl-size) * 9);
  --kicl-size-10x: calc(var(--kicl-size) * 10);
  --kicl-size-11x: calc(var(--kicl-size) * 11);
  --kicl-size-12x: calc(var(--kicl-size) * 12);
}
