:root {
  --kicl-body-background-color: var(--kicl-color-grey-lighter);
  --kicl-body-color: var(--kicl-color-grey-darker);
  --kicl-body-transition-duration: var(--kicl-duration-slow);
  --kicl-body-transition-property: background-color, background-image;
  --kicl-body-transition-timing-function: var(--kicl-ease-quad-in);
  --kicl-dotted-background-image-color: var(--kicl-color-grey);
}
