.kicl--widgets--global-header--navigation--mobile--toggle--is-overlaid {
  inset-block-start: calc(
    var(--kicl--widgets--global-header--top) +
      (var(--kicl--widgets--global-header--block-size) - 1em) / 2
  );
  inset-inline-end: var(--kicl--widgets--global-header--padding-inline);
  z-index: var(--kicl-z-index-raised);
}
