:root {
  --kicl--components--hyper-link--box-shadow-block-size: var(--kicl-size-1px);
  --kicl--components--hyper-link--box-shadow-block-size-active:
    var(
      --kicl-size-2px
    );
  --kicl--components--hyper-link--font-weight: var(--kicl-font-weight-bold);
  --kicl--components--hyper-link--text-color: var(--kicl-color-grey-darker);
  --kicl--components--hyper-link--text-color-active:
    var(
      --kicl-color-black-light
    );
  --kicl--components--hyper-link--transition-duration:
    var(
      --kicl-duration-fast
    );
  --kicl--components--hyper-link--transition-property:
    box-shadow,
    color,
    font-size;
  --kicl--components--hyper-link--transition-timing-function:
    var(
      --kicl-ease-quint-in-out
    );
}

.kicl--theme--dark {
  --kicl--components--hyper-link--text-color: var(--kicl-color-white);
  --kicl--components--hyper-link--text-color-active:
    var(
      --kicl-color-white-dark
    );
}

.kicl--components--hyper-link {
  color: var(--kicl--components--hyper-link--text-color);
  cursor: pointer;
  display: inline-grid;
  font-weight: var(--kicl--components--hyper-link--font-weight);
  line-height: 1;
  padding-block-end: var(--kicl-gutter-narrowest);
  text-decoration: none;
  transition-duration: var(--kicl--components--hyper-link--transition-duration);
  transition-property: var(--kicl--components--hyper-link--transition-property);
  transition-timing-function:
    var(
      --kicl--components--hyper-link--transition-timing-function
    );
  will-change: var(--kicl--components--hyper-link--transition-property);

  &:not(#{&}--unstyled) {
    box-shadow:
      0
      calc(var(--kicl--components--hyper-link--box-shadow-block-size) + 1px) 0 -1px
      currentcolor;

    &:hover,
    &[aria-current] {
      --kicl--components--hyper-link--box-shadow-block-size:
        var(
          --kicl--components--hyper-link--box-shadow-block-size-active
        );
      --kicl--components--hyper-link--text-color:
        var(
          --kicl--components--hyper-link--text-color-active
        );
    }

    &[aria-current] {
      pointer-events: none;
    }
  }
}
