[class*='#{$css-transition}-'] {
  transition-duration: #{$speed};
}

:export {
  classname: #{$css-transition};
  enteractiveclassname: #{$css-transition-enter-active};
  enterclassname: #{$css-transition-enter};
  enterdoneclassname: #{$css-transition-enter-done};
  exitactiveclassname: #{$css-transition-exit-active};
  exitclassname: #{$css-transition-exit};
  exitdoneclassname: #{$css-transition-exit-done};
}
