.kicl--widgets--site-logo {
  &--hyper-link {
    display: grid;
    line-height: 1;
  }

  &--span {
    block-size: 0;
    inline-size: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
  }
}
