.kicl--widgets--site-logo {
  padding: 0;

  &--hyper-link {
    font-size: inherit;
    line-height: 1;
  }

  &--with-name {
    --kicl--widgets--site-logo--padding-inline-end: var(--kicl-gutter-wide);
  }
}
