:root {
  --kicl--components--paragraph--transition-duration: var(--kicl-duration);
  --kicl--components--paragraph--transition-property: color, font-size;
  --kicl--components--paragraph--transition-timing-function:
    var(
      --kicl-ease-quint-in-out
    );
}

.kicl--components--paragraph {
  display: inline-grid;
  transition-duration: var(--kicl--components--paragraph--transition-duration);
  transition-property: var(--kicl--components--paragraph--transition-property);
  transition-timing-function:
    var(
      --kicl--components--paragraph--transition-timing-function
    );
  will-change: var(--kicl--components--paragraph--transition-property);
}
