.kicl--widgets--global-header--main-menu--menu--hyper-link {
  &.kicl--animation {
    --kicl--animation--transition-duration: var(--kicl-duration);
  }

  &.is-hidden {
    box-shadow: none;
    transform: translate3d(0, -100%, 0);
  }

  :not(:first-of-type) & {
    &.kicl--animation {
      --kicl--animation--transition-delay: var(--kicl-duration-fastest);
    }
  }
}
