@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$pure-white: #fff;
$white: #f1efe9;
$darkest-white: shade($white, 10);
$darker-white: shade($white, 6);
$dark-white: shade($white, 3);

$black: #141414;
$light-black: tint($black, 3);
$pitch-black: #000;

$grey: #b7c4cc;
$light-grey: tint($grey, 15);
$lighter-grey: tint($light-grey, 30);
$darker-grey: #3f3f3f;
$darkest-grey: shade($darker-grey, 30);
$dark-grey: tint($darker-grey, 20);

$green: #8cdfbb;
$blue: #b5e0e8;
$orange: #f39943;
$red: #be4e4d;
$yellow: rgba(224, 180, 64, 1);

$linkedin: #0077b5;
$twitter: #1dcaff;
$googlePlus: #d34836;
$behance: #053eff;
$gitHub: #4183c4;

$gold: #b0976d;
