$a-isCurrent-font-weight: 400;
$default-font: sans-serif !default;
$font-family: 'omnes-pro', $default-font;
$font-size: 16px;
$font-weight: 300;
$heading-font-family: 'acumin-pro-extra-condensed', $default-font;
$line-height: 1.2;
$thick-font-weight: 500;
$thicker-font-weight: 700;

@mixin font-smoothing($value: antialiased) {
  @if $value==antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
