@mixin set-global-header-color($color: get($black, 'default')) {
  $default: get($component-global-header, 'default');
  $navigation: get($component-navigation, 'default');

  [data-component='#{$default}'] {
    color: $color;

    > [data-component=#{$navigation}] {
      a {
        color: $color;
      }
    }
  }
}
