$className: get($global-header, 'default');
$enter: get($css-transition, 'enter.default');
$exit: get($css-transition, 'exit.default');

.#{$className} {
  display: grid;
  grid-template-areas: 'logo .';
  grid-template-columns: get($grid, 'wide') auto;
  grid-template-rows: 1fr;
  padding: get($grid, 'space');

  &.#{$enter},
  &.#{$exit} {
    .#{get($transition, 'default')} & {
      position: relative;
    }
  }

  .#{get($logo, 'default')} {
    grid-area: logo;
  }

  @include mobile() {
    grid-template-columns: get($grid, 'narrow') auto;
    grid-template-rows: 1fr;
  }
}
