$default: get($component-global-header, 'default');
$enter: get($css-transition, 'enter.default');
$exit: get($css-transition, 'exit.default');

$logo: get($component-logo, 'default');

[data-component='#{$default}'] {
  display: grid;
  grid-template-areas: 'logo .';
  grid-template-columns: get($grid, 'wide') auto;
  grid-template-rows: 1fr;
  padding: get($grid, 'space');

  &.#{$enter},
  &.#{$exit} {
    .#{get($transition, 'default')} & {
      position: relative;
    }
  }

  [data-component='#{$logo}'] {
    grid-area: logo;
  }

  @include mobile() {
    grid-template-columns: get($grid, 'narrow') auto;
    grid-template-rows: 1fr;
  }
}
