.kicl--views--experiments--tree-of-life--v15--archive {
  position-anchor: --kicl-archive-toggle;
  position-area: block-start span-inline-start;
  max-block-size: calc(100dvh - var(--kicl-gutter-wide) * 3);
  overflow-y: auto;
  opacity: 0;
  transition:
    block-size var(--kicl-transition-duration-fast) allow-discrete,
    opacity var(--kicl-transition-duration-fast),
    translate var(--kicl-transition-duration-fast),
    display var(--kicl-transition-duration-fast) allow-discrete,
    overlay var(--kicl-transition-duration-fast) allow-discrete;
  translate: 0 var(--kicl-gutter-narrow);

  &:popover-open {
    opacity: 1;
    translate: 0 0;

    @starting-style {
      opacity: 0;
      translate: 0 var(--kicl-gutter-narrow);
    }
  }

  a {
    opacity: 0;
    transition:
      opacity var(--kicl-transition-duration-fast),
      translate var(--kicl-transition-duration-fast);
    translate: 0 calc(var(--kicl-gutter-narrow) * -1);
  }

  &:popover-open a {
    opacity: 1;
    transition-delay: calc((sibling-count() - sibling-index()) * 30ms);
    translate: 0 0;

    @starting-style {
      opacity: 0;
      translate: 0 calc(var(--kicl-gutter-narrow) * -1);
    }
  }

  &__toggle {
    anchor-name: --kicl-archive-toggle;
  }
}
